[2019-08-14 01:50] bkubic opened #2 "Feed Not Working"
I've installed the module as per instructions and received an MTA API key. However, the only thing that appears on the MM is the header "Next Train" - no train feed shows up. Any help?

[code]

[2019-08-14 13:24] Elaniobro commented on #2
@bkubic I have experienced the same thing in the past. I am not sure if its the code, the mirror and or a delay in getting the information.

Can you please provide me more information about your setup?

- what type of pi do you have
- what size sd card
- how many other modules
- does the mirror start up
- does the module work with another train station id, or perhaps two ids?

Thanks!

[2019-08-14 16:02] bkubic commented on #2
-     what type of pi do you have? **Pi 3 B+**
-     what size sd card? **16gb**
-     how many other modules? **4**
-     does the mirror start up? **yes**
-     does the module work with another train station id, or perhaps two ids? **no station ids that i've tried have worked, including multiples**
-     what browser are you using? **Electron (whatever the base install of MM is)**

[2019-08-14 16:25] Elaniobro commented on #2
@bkubic would you please post your entire config (sanitize it for api keys).

Do other modules work? Does he mirror work at all?

[2019-08-14 16:27] bkubic commented on #2
Not at home so I don't have access to the full config right now, but every
other module works as expected, and the mirror works fine. It's just this
module that shows the "Next Train" header and nothing underneath.

On Wed, Aug 14, 2019 at 12:25 PM Elan Trybuch <notifications@github.com>
wrote:

[2019-08-14 18:08] Elaniobro commented on #2
@bkubic copy that. I think I see the issue. Might take me a few days to get around to resolving it. I'll fix it asap! Thanks for reporting this :)

[2019-08-15 03:15] Elaniobro commented on #2
@bkubic here is what I am seeing with station id 158:
![Screen Shot 2019-08-14 at 23 14 41](https://user-images.githubusercontent.com/710847/63070491-656fe480-bee9-11e9-95c6-3ff8c75eef5b.png)

[2019-08-15 12:15] bkubic commented on #2
Still nothing. Here's what I see:
![2019-08-15-081417_1920x1080_scrot](https://user-images.githubusercontent.com/10870058/63093898-d4bef600-bf34-11e9-887a-5284bf216e3f.png)

[2019-08-15 12:16] bkubic commented on #2
Full config.js for reference:

[code]

[2019-08-20 03:18] Elaniobro commented on #2
@bkubic; curious does the module work if you reboot the mirror? I have seen it work with your stationID of `158` and also seen it fail. Trying to trace it down to the root cause. Thank you for your patience :)

[2019-08-20 03:21] Elaniobro commented on #2
Also, I noticed your config is missing the `walkingTime: 0` key value pair. While I do add a default, would you please try adding that in as well to test? Thanks!

[2019-08-20 17:17] bkubic commented on #2
Rebooting didn't have an effect. I originally had walkingTime in there, but
when it didn't work I tried removing to see if that was issue, and it still
didn't work.

On Mon, Aug 19, 2019 at 11:21 PM Elan Trybuch <notifications@github.com>
wrote:

[2019-08-23 14:36] zstein22 commented on #2
same issue here. trying to get station 607 to work, but nothing is coming up. Ive reset tons of time and left it open for a while as well.

[2019-08-23 16:01] Elaniobro commented on #2
@zstein22 & @bkubic could you try re-starting it and using the following: `stations: [237,238]` for a sanity check :)

I am still digging into this, but will be out of pocket for a few days, PR's are also welcome :)

Stay tuned and thanks for your patience!

[2019-08-25 20:23] mraimi commented on #2
I'm in a similar situation. The default station ids work (`237` and `238`) but other stations such as `273` and `461` don't work.

[2019-08-26 00:39] Elaniobro commented on #2
@mraimi, @bkubic  & @zstein22 would you all please mind posting your `package.json` files, so I may see and try to replicate the same environment to debug? Thanks!

[2019-09-06 00:01] Kendiggity973 commented on #2
Hey Elaniobro. My train stops arent working either. I can post my package.json files.

[2019-09-06 00:03] Kendiggity973 commented on #2
{
  "name": "MMM-nyc-transit",
  "version": "1.0.0",
  "description": "New York City realtime transit module for magic mirror",
  "main": "MMM-nyc-transit.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "lint": "eslint **/*.js --ignore-pattern node_modules/"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/Elaniobro/MMM-nyc-transit"
  },

[2019-09-06 00:04] Kendiggity973 commented on #2
i was also wondering if there was a way to make it not a ticker and more of a list?

[2019-09-07 18:54] Elaniobro commented on #2
@Kendiggity973 thanks for commenting and posting here. Which station ID are you using?

I will begin looking into this issue again this week. As for List/Ticker, feel free to create a separate issue to track that. Not sure when I will get to it, but I hope sooner than later!

[2019-09-08 21:55] Kendiggity973 commented on #2
@Elaniobro Im using various Trains. probably alist of a good 10 or so. however, ive done testing and it seems no trains aside from the default ones pull data at all

[2019-09-09 03:31] Elaniobro commented on #2
@Kendiggity973, @mraimi, @bkubic & @zstein22, wanting to rule out the obvious: have you all received your MTA api key and placed it int he `config.js` file for the modules?

[2019-09-09 04:19] Kendiggity973 commented on #2
yes.

[2019-09-10 03:11] dahlio commented on #2
Hi there...can provide files if needed too...using stations 96 and 114. It is only populating for 96, not 114.

Thanks for this - such a great module!

[2019-09-11 00:39] Kendiggity973 commented on #2
@Elaniobro. NYC MTA offered like 6 different feeds. are you sure that it isnt because you have access to all of them and we only have the standards?

[2019-09-11 15:11] Elaniobro commented on #2
@Kendiggity973 Yea, I am sure it is the right feed. It is using the Real Time Data Transfer Feed format. I believe the issue may be in the response it self; if a train is not scheduled, there is an empty response which results in an error in the `forEach()` loop (nothing to loop over). I do have an update to safeguard against that error. Let me verify the code and make that update later today.

Al

[2019-09-11 15:54] Kendiggity973 commented on #2
Sure I can do that once I get home

Sent from my iPhone

[2019-09-12 00:47] Kendiggity973 commented on #2
@Elaniobro Still no good on my stops.

[2019-09-12 01:42] Elaniobro commented on #2
@Kendiggity973 please post your `package.json` for the magicmirror as well as the `config.js`

Thanks!

[2019-09-12 01:47] Kendiggity973 commented on #2
Im currently reinstalling MM and the plugin with debian buster to see if
its still an issue.
if it is i will post it

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FA

[2019-09-12 02:01] Kendiggity973 commented on #2
Give it a shot, Im getting nothing still

[Files.zip](https://github.com/Elaniobro/MMM-nyc-transit/files/3603336/Files.zip)

[2019-09-12 02:33] Elaniobro commented on #2
@Kendiggity973 Thanks for the files(s) I deleted the link to keep your privacy.

I believe I see the issue now, `name` is undefined for the station. I will need to dig into this.

[2019-09-12 05:52] Elaniobro commented on #2
This should be resolved now. Please let me know and I will close this issue.

[2019-09-12 20:26] Kendiggity973 opened #8 "Needs list version"
I’m thinking a list version would make this better. Such as

L Train Halsey stop: Arrives in 5 minutes
M train: Arrives in 12 minutes

With a countdown possibly color coded for time remaining based on walk time.

My mirror will be pulling a lot of stations data and I feel like a ticker would be inconvenient as a form of display

[2019-09-13 01:58] Kendiggity973 opened #9 "[💡 FEATURE REQUEST] - Add list option"
Can we change the output text of certain things. A.k.A instead of it saying 16th /8th can we have it set up to say Manhattan bound, Or Brooklyn Bound. Or north/south east/west. i Feel like that would be much more appealing to the eyes for people who dont want to see the same train mutliple times.

[2019-09-13 13:02] #2 closed

[2019-09-13 13:16] Elaniobro commented on #9
@Kendiggity973 which station ID are you using for

Per your suggestion/reasoning:

Wouldn't this idea be the same thing as what is currently happening but with up/downdtown? e.g.
<img src="https://emojis.slackmojis.com/emojis/images/1471450078/1024/6train.png?1471450078" width="16"/> downtown 6min | <img src="https://emojis.slackmojis.com/emojis/images/1471450078/1024/6train.png?1471450078" width=

[2019-09-13 23:02] Kendiggity973 commented on #9
its not though not for what i'm doing. When i put in id 129 It spits out L | Franklin Av 6 min L | Franklin Av | 9 min L | Franklin Av 29 min   L | 14 st / 6 av 3 min L | 14 st / 6 av
when i use ID 110 it says  M | 75th 3 min M | 75th 6 min

what makes more sense and Tying into my other suggestion as well is

L | To Brooklyn | 3 min | 6 min | 26 min
L | To Manhattan | 7 min |  14 min | 25 min
M |

[2019-09-15 07:12] GLeaden opened #10 "[🐛 BUG] - Station ID 109 (fresh pond rd) errors out"
**Describe the bug**
When I add station 109 to the station list, or have it stand alone. I receive the error below.

**To Reproduce**
Steps to reproduce the behavior:
1. Add station 109 to your stations list in the config.js
2. Run magic mirror
3. See error

**Expected behavior**
Information about the M train leaving fresh pond road scrolling across my screen.

** Actual behavior**
Nothing.

[code

[2019-09-15 14:38] #10 closed

[2019-09-15 14:39] GLeaden commented on #10
Whoops. I guess MTA wasn't running the M last night. My bad. :)

[2019-09-16 14:13] Elaniobro commented on #10
@GLeaden interesting, thank you for pointing that out, it might be worth investigating, I do believe there is a `key:value` pair for `delayed` and or `out of service` I would have to dig into it, but it would most certainly, from a UI/UX perspective be valuable.

Would you mind opening a feature request issue and outline what you think should/would be an appropriate way to handle such?

Thanks!

[2019-09-16 14:14] Elaniobro commented on #9
Ahh, ok, this makes way more sense to me know. I can also see how this would only really be viable in a list format, as you have done so. The scrolling marquee will be kept as is, but I will begin looking into this for a list option configuration.

[2019-09-16 22:22] Elaniobro commented on #8
This issue is now a duplicate of #9 and will be tracked there.

[2019-09-16 22:22] #8 closed

[2019-09-24 03:01] dahlio opened #12 "[🐛 BUG] - Wrong station and no out on another"
Station IDs not behaving as expected:

96  - Kousiczsko St J reporting wrong terminals (see photo - not due to a change in service)
114 - Central Ave M not showing anything

96 used to work with no issues and correct terminals , 114 has never worked.

Thank you for your help
![4AE8EFFC-F77E-4426-82BD-265CCF0DDDFF](https://user-images.githubusercontent.com/52632238/65477983-0ab99900-de56-11e9-9e9c-

[2019-09-24 03:17] Elaniobro commented on #12
@dahlio 114 & 96 are both working for me. The module is set up to only return the next 3 trains in either direction. So you may be only seeing one train (screenshots not taken at same time)

### 96
![Screen Shot 2019-09-23 at 23 12 08](https://user-images.githubusercontent.com/710847/65478427-b6afb400-de57-11e9-8525-cc42d60026f5.png)

### 114
![Screen Shot 2019-09-23 at 23 12 40](https://user-imag

[2019-09-24 11:37] dahlio commented on #12
Interesting. Going to re write. Thanks for the quick response.

On Mon, Sep 23, 2019 at 11:17 PM Elan Trybuch <notifications@github.com>
wrote:

--
-Andrew Dahl
-dahlio@gmail.com

[2019-09-26 02:22] Elaniobro commented on #9
@Kendiggity973 please go ahead and update your mirror, I added a list option  👍

[2019-09-26 02:22] #9 closed

[2019-09-27 03:18] dahlio commented on #12
Still pulling wrong destinations. Neither of these trains originate or terminate as pictured. Any insight?
![77DC5E88-9C03-4B5A-A6F6-063B118ABA95](https://user-images.githubusercontent.com/52632238/65739607-e1964400-e0b3-11e9-8af8-8ae363e8b3d6.jpeg)

[2019-09-27 23:35] Elaniobro commented on #12
I get you now. I think the station IDs are not mapped properly to the complex ID's. I have a fix for this, but am not able to test currently. Feel free to do so on this branch: https://github.com/Elaniobro/MMM-nyc-transit/tree/GIT-12-complex-station-id

[2019-09-28 16:43] Elaniobro commented on #12
@dahlio closing this as I resolved this issue. Thank you for the added info and please open a new issue if you have any problems in the future.

[2019-09-28 16:43] #12 closed

[2019-11-12 00:17] jon7187 opened #18 "[🐛 BUG] - W Line (Yellow Icon)"
**Describe the bug**
W lines do not have the yellow color

**To Reproduce**
Steps to reproduce the behavior:
1. Add station 3, see W line

**Expected behavior**
W with a yellow circle

** Actual behavior**
W without a yellow circle

**Additional context**
NBD, figured minor tweak in the main file ... BTW your module is what I have been dreaming of forever!

[2019-11-12 04:40] jon7187 opened #19 "[💡 FEATURE REQUEST] Leave @: 8:28am, 8:33am, 8:40am"
**Is your feature request related to a problem? Please describe.**
Refresh time every 5 minutes isn't enough for when to leave my apartment.

**Describe the solution you'd like**
Would like to take the ((departure time) - (walking time))+(current time) so I can ignore refresh factoring into the time it will leave:
eg. N Astoria-Ditmars Blvd Leave @: 8:28am, 8:33am, 8:40am

**Describe alternatives

[2019-11-12 18:08] Elaniobro commented on #19
@jon7187 I am not entirely sure I am understanding your feature request.

Would you please elaborate with more detail and or additional examples, explanations, etc..?

[2019-11-12 18:21] Elaniobro commented on #18
Nice catch @jon7187! This was resolved.

[2019-11-12 18:21] #18 closed

[2019-11-12 19:12] jon7187 commented on #19
**Current Status:**
-MTA pull @ 8am -> arrival in 11min
-User pads 5min
-Display shows 6 min
-8:04:59am display still shows 6min
-MTA pull @ 8:05am -> arrival in 1min

**Potential Fixes**
_Option One:_
Recommended Behavior:
-MTA pull @ 8am -> arrival in 11min
-User pads 5min
-Display shows 6 min
-8:01am refresh locally to display 5min
   - (arrival (11min) - padding (5min) - elapsed time since pul

[2019-11-12 19:17] jon7187 opened #22 "[💡 FEATURE REQUEST] Walk time per station"
**Is your feature request related to a problem? Please describe.**
Station list have different walk times which require different padding (walk time)

**Describe the solution you'd like**
[3,271] 30th Ave (NW lines) Steinway (R): 8min and 12min walk respectively.

Having an array of padding to match the stations

[code]

[2019-11-12 19:31] jon7187 opened #23 "[💡 FEATURE REQUEST] Uptown/Downtown Only"
**Is your feature request related to a problem? Please describe.**
Feed is crowded with trains that terminate one stop away from me. Would only want to show arrival times for the ones going into Manhattan.

**Describe the solution you'd like**
A config class as an array to match to stations for uptown/downtown/both [0,1,2] or east/west/both [0,1,2]

e.g. 30th Ave & Steinway, _only Eastbound trains

[2019-11-13 15:46] shortbkfilm opened #24 "Module will not load."
The module will only load the header and nothing else. I tried to follow another thread on a similar issues but did not find a resolution. Code is below.

{
module: "MMM-nyc-transit",
position: "top_left",
header: "Next Train",
config: {
apiKey: "apikey...",
displayType: "list",
mtaType: "train",
stations: [259],
updateInterval: 300000,
walkingTime: 10,
},
},

Any help would be appreciated.

[2019-11-13 16:22] Elaniobro commented on #24
@shortbkfilm; what version of this module are you using? Can you please copy/paste the `package.json` file you are using?

Also, it can take a few minutes for the module to display results sometimes. I believe this is an issue on the MTA API's side.

[2019-11-13 16:33] shortbkfilm commented on #24
Using  version 2.9.0.

Have run the module for up to half hour with nothing loading.
{
  "name": "magicmirror",
  "version": "2.9.0",
  "description": "The open source modular smart mirror platform.",
  "main": "js/electron.js",
  "scripts": {
    "start": "sh run-start.sh",
    "install": "cd vendor && npm install",
    "install-fonts": "cd fonts && npm install",
    "postinstall": "sh untrack-cs

[2019-11-13 16:36] shortbkfilm commented on #24
Using version 2.1.3, and have let the module run for up to half hour without anything loading.

{
  "name": "MMM-nyc-transit",
  "version": "2.1.3",
  "description": "New York City realtime transit module for magic mirror",
  "main": "MMM-nyc-transit.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "lint": "eslint **/*.js --ignore-pattern node_modules/"
  },
  "re

[2019-11-13 16:48] Elaniobro commented on #24
Do you have an MTA API key?

[2019-11-13 16:55] Elaniobro commented on #24
@shortbkfilm the module is failing for all stations, as of now. Looking in the logs I find/see the following error:
`UnhandledPromiseRejectionWarning: Error: Error: Missing at least one required field for Message .transit_realtime.FeedMessage:`

The feed itself is corrupt. Apparently this is a known issue that happens intermittently.

You may read more here: [MTA developer resources](https://group

[2019-11-13 16:55] #24 closed

[2019-11-13 17:27] shortbkfilm commented on #24
I do have an api key.

[2019-11-13 17:28] shortbkfilm commented on #24
So, currently theres nothing to be done?

[2019-11-18 18:45] Elaniobro commented on #24
Correct. If you try starting it up, you should see trains on the screen. Nothing was done by me.

[2020-01-09 06:25] bmtully opened #25 "[🐛 BUG] - Multiple stations with the same ID"
I'm unable to access times for Queensboro Plaza (station id 461), getting the error "Cannot read property 'daytimeRoutes' of undefined"

Looking at the MTA's API documentation, it seems there are 2 stations with the ID of 461, even though they're in the same place. One returns the schedule for IRT trains and the other returns the schedule for BMT trains. Perhaps the API is returning both and the s

[2020-01-17 14:51] Elaniobro commented on #25
@bmtully Please update the description/title with the proper information that is part of the bug report template issue you see when reporting a new issue. Thanks!

[2020-01-19 20:36] Elaniobro commented on #25
@bmtully please update your module with `git pull` problem should be fixed now.

[2020-01-19 20:36] #25 closed

[2020-02-24 02:06] Hram2008 opened #27 "Unable to load Module"
Attempting to install the MMM-nyc-transit module with difficulty.  I see directory folder and i added to the config file but it will not run.

 {
			module: "MMM-nyc-transit",
			position: "top_bar",
			header: "Next Train",
			config: {
			  apiKey: 'I HAVE APIKEY from MTA',
			  displayType: 'marquee',
			  mtaType: 'train',
			  stations: [237,238],
			  updateInterval: 300000,
			  walkingTime

[2020-02-24 16:55] Elaniobro commented on #27
Hi @Hram2008 thank you for using the module. I am happy to help, but the information you provide is not enough.

When you first created the issue,  you are given a choice:
* bug report
* feature request

With in both, is a template that asks for information. Please re-visit this template and add the requested information so I may begin to assist.

Thanks!

[2020-02-24 20:02] Hram2008 commented on #27
Hello,

I will go back and fill in the Bug report, i was not sure if this is a bug report inquiry.  Thank you for your time.

[2020-02-24 20:11] Elaniobro commented on #27
@Hram2008 no problem, happy to help. While we wait for your update, please make sure you have installed Magic Mirror properly and that you also installed the module in the correct folder and ran the install command!

[2020-02-24 23:37] Hram2008 commented on #27
**Describe the bug**
After installing the Module and updating the config file the MMM-nyc-transit did not load on the Magic Mirror

**To Reproduce**
Steps to reproduce the behavior: NA
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
I expected after saving and restarting the Magic Mirror application it would display NYC transit time

** Actual behavio

[2020-02-24 23:39] Hram2008 commented on #27
Good Evening,

I uploaded additional information.

From: Elan Trybuch [mailto:notifications@github.com]
Sent: Monday, February 24, 2020 3:12 PM
To: Elaniobro/MMM-nyc-transit <MMM-nyc-transit@noreply.github.com>
Cc: Hram2008 <HRam2017@optonline.net>; Mention <mention@noreply.github.com>
Subject: Re: [Elaniobro/MMM-nyc-transit] Unable to load Module (#27)

@Hram2008 <https://github.com/Hram2008>  no

[2020-02-25 02:34] Elaniobro commented on #27
Can you walk me through how you installed this module?

Can you upload a screenshot of your IDE showing me the folder structure of:
* `magicMirror`
* `magicMirror/modules`
* `magicMirror/modules/MMM-nyc-transit`

Thanks!

[2020-02-25 12:15] Hram2008 commented on #27
Can you walk me through how you installed this module?
I loaded module in the Modules folder.

Can you upload a screenshot of your IDE showing me the folder structure of:

![Tree 2](https://user-images.githubusercontent.com/61397417/75246817-8e2d3c80-579e-11ea-84d5-01e631f3d4b7.JPG)
![Tree 3](https://user-images.githubusercontent.com/61397417/75246818-8e2d3c80-579e-11ea-87f7-a8e8a960f9e2.JPG)
![Tr

[2020-02-25 13:23] Elaniobro commented on #27
@Hram2008 the module is not installed.

Please refer to the directions in the `README.md` but you need to make sure you ran `npm i` in the `MMM-nyc-transit` folder. I can tell you did not do this, because there isn’t a `node_modules` directory.

[2020-02-25 13:23] #27 closed

[2020-02-25 15:02] Hram2008 commented on #27
Thank you for your review, i will give it another look.

[2020-04-18 18:04] #23 closed

[2020-04-18 18:04] #22 closed

[2020-04-18 18:05] Elaniobro commented on #22
@jon7187 Please take a look, let me know.

[2020-04-18 18:05] Elaniobro commented on #23
@jon7187 Please take a look, let me know.

[2020-04-19 21:28] Elaniobro commented on #19
@jon7187 Please take a look. This enhancement was pushed out.

[2020-04-19 21:28] #19 closed

[2020-07-04 18:23] nipper2000h opened #33 "[🐛 BUG] - Transit module stopped working"
**Describe the bug**
The module stopped working after a change from the data provider

**To Reproduce**
I have opened a troubleshooting thread here:
[https://forum.magicmirror.builders/topic/13185/transit-module-stopped-working/1?_=1593886364430
](url)

Others have confirmed the module no longer works as intended.

**Expected behavior**
The next three trains are displayed in a countdown clock styl

[2020-07-04 20:37] Elaniobro commented on #33
@nipper2000h thank you for posting the bug. I am looking into this and seeing if I am able to re-create the issue you speak of. It might take me a few days or more.

FWIW: I have seen the promise reject error before, that I _believe_ is due to polling the API to frequently with your API key. As of know, I am not sure of what the rate limit is or even if one exists. I'll continue looking into it. P

[2020-07-05 20:59] nipper2000h commented on #33
Thanks a lot for being so responsive and checking this out. I love this module and find it very functional, thanks again for writing it. As of today it is still down and pm2 logs are still showing the same message.. I made a second account with MTA and used a different API key but still no luck. Is yours working? What is the polling rate you are using?

[2020-07-05 22:37] NickEngmann commented on #33
I'm having a similar issue where no Train data is being pulled anymore. The issue started occurring about 4 days ago.

[2020-07-06 02:47] Elaniobro commented on #33
@NickEngmann thank you for your feedback.

Will you and @nipper2000h please share with me, which version of `MagicMirror` you are currently running? Nothing in the code was updated recently, which leads me to suspect something out side this module was updated.

In order for me to remedy/fix this bug, I would like to try and figure out what changes were introduced, which _should_ allow me to update

[2020-07-06 16:26] NickEngmann commented on #33
@Elaniobro I am currently on MM version 2.10.1 and I'm running my MagicMirror server only.

[2020-07-06 21:55] Elaniobro commented on #33
@NickEngmann Thank you for this information. In reading the [#1973](https://github.com/MichMich/MagicMirror/issues/1973) it looks like [v2.11.0](https://github.com/MichMich/MagicMirror/releases/tag/v2.11.0) actually broke some modules due to how the socket.io was being referenced. [v2.12.0](https://github.com/MichMich/MagicMirror/releases/tag/v2.12.0) resolved that.

I am wondering if a previous v

[2020-07-06 23:41] nipper2000h commented on #33
I'm running 2.11.0. I updated to version 2.12.0 and still no luck. I don't see anything in the logs after updating.

[2020-07-09 14:56] Elaniobro commented on #33
@NickEngmann & @nipper2000h I made some slight adjustments, but the module is still not populating. I do see the fetch trying to get data but the response in the payload is empty.

`payload =  [{ downTown: [] }, { upTown: [] }]`

For some reason, just not getting any data ☹️  I am still digging into this. I am wondering if its just my API key.

[2020-07-11 04:37] NickEngmann commented on #33
I did receive an email back in May saying that the NYC-MTA was changing its URL endpoints, could that somehow affect how this module functions?

[2020-07-11 17:34] Elaniobro commented on #33
@NickEngmann would you please post the e-mail? I never received one. I also posted to the google forum and was told that the endpoint did in fact change, which would account for the breakage in the module.

Once I re-connect it, you should be back up and running. I just need to find out what the new endpoint is.

[2020-07-11 22:42] NickEngmann commented on #33
Here is a screenshot of the e-mail they sent out. Looks like the new endpoint is https://api.mta.info/

<img width="1298" alt="Screen Shot 2020-07-11 at 6 40 56 PM" src="https://user-images.githubusercontent.com/1075072/87235090-2589d980-c3a6-11ea-89d4-0ca2dc7d707e.png">

[2020-07-13 14:07] Elaniobro commented on #33
The new API is going to require a complete re-write of this module as far as I can tell...... unless I am missing something.

It seems like the new api endpoint does not have the same data contract. Not to mention that the dependencies I use, as far as I can tell, will not be supporting the new API:
[code]

Thank you for the screenshot of the e-mail @NickEngmann, I see this as a challenge that I o

[2020-07-13 19:08] kurtraschke commented on #33
I've opened https://github.com/ericandrewlewis/mta-realtime-subway-departures/pull/4 to switch that package from `datamine.mta.info` to `api.mta.info`.  The feed content is the same; it's just that the feed URLs have changed and the API key is passed as a header rather than a URL parameter (note that a new key is required for `api.mta.info`).

[2020-07-15 14:08] Elaniobro commented on #33
@kurtraschke thank you for that PR, and thank you @ericandrewlewis for your module.

[2020-07-15 14:08] #33 closed

[2020-07-16 13:14] teachng opened #35 "[🐛 BUG] - Please update README.md"
**Issue**
Two things:
1. Update the description to the updated data feed site (Thanks Elaniobro): https://api.mta.info/
2. Endpoint/station data doesn't seem to be available. Currently, the only real-time data available are of the lines themselves and not the station. Not sure if theres something that can be done with that

[2020-07-16 17:48] Elaniobro commented on #35
@teachng I updated the README.md to reflect the new API key requirements. As for your `2` I will need you to be more explicit. I am not understanding your question.

The module that I use, will look up the line(s) at your station ID and make the subsequent API calls for each train line and respond with an aggregated feed that I then parse through in the module.

Closing this ticket for now, but fe

[2020-07-16 17:48] #35 closed

[2020-07-18 02:43] Elaniobro commented on #35
@all-contributors please add  @kurtraschke for bug code

[2020-07-18 02:44] Elaniobro commented on #35
@all-contributors please add @nipper2000h for bug

[2020-07-27 03:35] teachng opened #42 "[🐛 BUG] - Please put your title here."
**Describe the bug**
I put in two instances of the module onto my magic mirror, with one showing the Central Park West 86th St. station uptown and the other instance as the downtown. I respectively set the boolean values with the former being (upTown: true, downTown: false) and the latter being (upTown: false, downTown: true).

What I see on the mirror, though, is the same stops and same times for

[2020-07-27 13:25] Elaniobro commented on #42
@teachng please update the title of this issue properly will submitting a new issue.
`[🐛 BUG] - Please put your title here.` with replacing the `Please put your title here.` portion.

As for your issue, based on your screenshot of the code, you have two instances of the module running within your mirror. You only need one.

This is what you have:
[code]

This is what you _**Should**_ have
[code]

[2020-07-27 13:25] #42 closed

[2020-09-03 19:29] dxfan227 opened #43 "[Question] My Own City?"
Hello! @Elaniobro

Hope this is an okay way to get in touch. I am interested in creating my own transit module for my magic mirror, with my specific city. At first I would be happy with simply the next time the bus is going to show up/how late it might be in either direction.

Building upon that would be a small map with a moving real time bus to see where it is at on the map.

My city offers a GT

[2020-09-03 21:18] Elaniobro commented on #43
Hi @dxfan227; this is a most unusual way, but its fine.

I think your first start is to look into https://github.com/protobufjs/protobuf.js/wiki which will help you read the real time feed and convert it to json so you can do your thang!

[2020-09-03 21:19] #43 closed

[2020-11-15 15:48] apiontek opened #45 "UnhandledPromiseRejectionWarning and no data loads"
MagicMirror version: v2.13.0
MMM-nyc-transit version: master commit c61dd818d249dd4e9fe7f35a2b49b96f3448fdd0

Due to pandemic, haven't noticed til today the Next Transit part of my MagicMirror setup isn't loading. I've been on node 12, tried moving to node 14, but getting the same errors (I assume one for each station I have configured) when running & loading the MM site in the browser:

[code]

I

[2020-11-15 19:53] Elaniobro commented on #45
@apiontek, Please post your MM config as well as which version of the `MMM-nyc-transit` module you have installed. Thanks!

[2020-11-16 14:59] apiontek commented on #45
Hi, I'm sorry for wasting your time. I had posted my version but in looking again to make sure I hadn't missed something, I saw in git log the mention of the updated API system, so I went and got a new API key.

New API key -> all working again!

Closing this non-issue. Thanks

[2020-11-16 14:59] #45 closed

[2020-11-16 16:26] Elaniobro commented on #45
@apiontek  I thought so, hence my question for which version :P Glad you got it sorted! Please free free to post new issues/feature requests etc..

[2020-12-25 05:35] zekromy123456789 opened #46 "[🐛 BUG] - All SIR trains not showing up"
when I plug in any station for the SIR nothing pops up within the module however all other trains (tested nearly all the lines) work with no problem in both directions.

[2020-12-25 16:13] Elaniobro commented on #46
Hi @zekromy123456789 thanks for the feedback and posting the bug. I tracked down the issue to missing station IDs for the destination. I submitted a PR to the module to fix this issue. @ericandrewlewis and I will work to resolve it shortly!

Keep an eye on this issue to know when the bug has been squashed and please let me know if you come across any other issues!

Happy holidays 🎅

[2020-12-26 02:39] zekromy123456789 commented on #46
Thank u guys so much for all the work u put into ur code really helps a lot of people like me who are trying to assemble a project with little coding experience. Very grateful! Hope u have a happy holidays as well.🎄

[2021-01-05 19:19] Elaniobro commented on #46
@zekromy123456789  I pushed ahead and updated the module. Keep an eye out for a new patch bump, that will be using the npm registry fix vs the hard coded github fix I have now. Sorry for the wait as well as the duplicate PR's, I had inadvertently used my wrong github acct so I closed and re-worked it with this one :)

I am closing this issue for now, and as always, please open a new issues to repo

[2021-01-05 19:19] #46 closed

[2021-01-29 12:31] ericandrewlewis commented on #46
1.1.1 has been published to npm. I'm sorry about the delay, GMail sends my Github notifications to the Trash for reasons I'm still trying to figure out. 🔥💻

[2021-02-09 23:04] frankrende opened #49 "No results for stationIDs 397 or 476"
I was able to setup MMM-nyc-transit and see train information for the default stations. I then modified them to point to my stationIDs, but no results are coming back. I tested other IDs and they seem to work fine, but I can't get data for 397 and 452.

[code]

I found this error after running `npm start`
[code]

[2021-02-10 01:41] frankrende commented on #49
I also noticed that the dependencies for mta-subway-stations and mta-subway-complexes is set at version 0.0.2 and 0.0.1 respectively, but both projects are actually on version 1.0.0 - could this be related?

[2021-02-12 19:15] Elaniobro commented on #49
@frankrende  thank you for posting the 🐛

Have/were you able to self resolve or is this issue still outstanding? If the latter, any new information you are able to provide is appreciated.

[2021-02-14 17:38] frankrende commented on #49
Hi @Elaniobro -

I originally spent some time digging into the station labels, but didn't find anything stood out to me as problematic. However, I just started up my screen again to test and it's now working so I guess it can be resolved?

Thanks,
Frank

[2021-02-14 19:25] Elaniobro commented on #49
@frankrende It could have been a timeout issue with the API, which I have seen while developing.

Too many refreshes can cause it.

I will keep this issue open for now, in case it presents it self again. Please let me know if it does, I will check back in a week or so.

[2021-02-23 02:25] Elaniobro opened #50 "[🐛 BUG] - Please put your title here."
**Describe the bug**
Bump version of station pkg once npm published.

[2021-02-23 02:41] #50 closed

[2021-02-23 02:45] Elaniobro commented on #46
@zekromy123456789; I updated the module with the dynamic semVer version of the pkg. Please update your mirror module :)

[2021-02-27 16:34] Elaniobro commented on #49
@frankrende, closing this ticket out since you have not reported any recurring or new issues. If you find one, please open up a new issue. Thank you for your support and feedback!

[2021-02-27 16:34] #49 closed

[2021-08-02 01:52] george-dilthey opened #56 "[🐛 BUG] - Range Error: index out of range: 3+109 >23"
**Describe the bug**
I installed the module and followed the directions for an api key. I copied the example config from the readme and when i run it, i get an error:
`(node:6098) UnhandledPromiseRejectionWarning: Error: RangeError: index out of range: 3 + 109 > 23
    at /home/pi/Development/MagicMirror/modules/MMM-nyc-transit/node_helper.js:175:15
    at processTicksAndRejections (internal/proce

[2021-08-05 15:23] Elaniobro commented on #56
@george-dilthey  will you please post your [Magic Mirror Config](https://github.com/MichMich/MagicMirror/blob/master/config/config.js.sample) here in its entirety as well as populate your issue with the requested info that was left blank.

Thanks!

*please remove any or all api keys from said file, and replace them with `#####`*

[2021-08-05 15:41] george-dilthey commented on #56
Sure!

To reproduce: Git clone into the modules folder, cd into the MMM-nyc-transit folder, npm install, restart magic mirror.

Screenshot of error in MM logs
![image](https://user-images.githubusercontent.com/32441489/128378406-2b7ba68f-4f17-4058-b3da-eee9b932e4c3.png)

Platform:
Node version: 14.17.4
Electron version: 1.12.4
Running on raspberry pi 4 runnin raspbian. I'm ssh'd in through a macbo

[2021-08-05 16:04] Elaniobro commented on #56
Thank you for sharing. Can you please remove all modules except the `MMM-nyc-transit` and restart the application to see if the error persists?

And where did you obtain your API key from?

[2021-08-05 22:05] george-dilthey commented on #56
API key is from the site you posted (and I refreshed it too). I won’t be
able to try without the modules until next week as I’ve just gone out of
town. But I can say it was one of the first modules I tried and the problem
has persisted from the get go.

On Thu, Aug 5, 2021 at 12:04 PM Elan Trybuch ***@***.***>
wrote:

--
George Dilthey
***@***.***
914.330.4872

[2021-08-05 23:48] stern1978 commented on #56
Having the same issue of the train status not showing but the "Next Train" header is.  Fairly new to this so I'm not sure how to run a debug.

`/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	address: "0.0.0

[2021-08-06 13:39] Elaniobro commented on #56
@stern1978 & @george-dilthey  have you tried running the app locally on your machine?
And what version of Magic Mirror are you currently using?

Run it locally:
git clone magic mirror, and clone this module into `magicmirror/modules` dir and set it up and run `npm start`

[2021-08-06 13:41] george-dilthey commented on #56
Hiya! I have run it locally and I just cloned down MM a few days ago so I presume the latest version, but I could try to do it again when I get home and check the version.

[2021-08-06 19:35] stern1978 commented on #56
@Elaniobro ran it locally and it worked.  Quit it and ran in server only and it works there now too.

[2021-08-06 20:55] Elaniobro commented on #56
@stern1978, for my own edification, will you please inform me which version of magic mirror you are running? You may find that [here](https://github.com/MichMich/MagicMirror/blob/master/package.json#L3)

[2021-08-06 21:27] stern1978 commented on #56
2.16.0

[2021-08-07 19:49] Elaniobro commented on #56
@stern1978; I assume you have no lingering issues now? What type of Raspberry Pi do you have?

@george-dilthey; Please confirm the version of both MM and this module that you are using, as well as if you ran `npm/yarn install` in the module itself, withing the `magic-mirror/modules` dir

[2021-08-08 03:59] stern1978 commented on #56
All good now. Thanks.

Raspberry Pi 3 Model B Plus Rev 1.3

[2021-08-08 11:54] danieldiazie commented on #56
I'm seeing the same issue where I can only see the header but the train info does not populate anymore.

Note: this was working for me for months but just stopped working recently.

MM v. 2.16.0 running locally
RPi v4
Cloned a brand new instance of MM and MMM-nyc-transit for test.

/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more informat

[2021-08-08 16:33] Elaniobro commented on #56
@danieldiazie & @george-dilthey; I am wondering if this issue is raspberry pi4 specific now. I myself only have a pi3 and pi0w.

Do either of you have an earlier version of a pi that you may dbl check the module/mirror on?

[2021-08-08 21:34] danieldiazie commented on #56
Unfortunately I do not.

[2021-08-08 21:46] stern1978 commented on #56
Nope. Only have the one.

[2021-08-09 00:14] george-dilthey commented on #56
@Elaniobro I too only have a 4. To answer your previous question, I downloaded both MM and this module together last week so I presume I have the latest versions. MM is 2.16.0.

Let me know if I can help with any other troubleshooting. I'm home this week and would love to get this going so just LMK!

[2021-08-10 01:13] Elaniobro commented on #56
I think we might need someone with both a raspberry pi4 & an earlier pi to test.

I am unable to reproduce the errors you and others reporting on my local machine or Pi's. (pi3/pi0w)

[2021-09-10 14:27] Elaniobro commented on #56
@george-dilthey, @stern1978 & @danieldiazie, is the bug/issue still present for you? If not I will be closing this issue as a `🙅‍♂️ wontfix`

Thank you.

[2021-09-10 15:04] danieldiazie commented on #56
@Elaniobro yes it is, although I recently ordered a RP3, should be here in a couple days. Happy to help debug once it gets here.

[2021-10-03 19:44] Nneuland opened #60 "Repeated error for nyc-transit"
@Elaniobro

Hi there. I’ve had your great module working in the past, and I’ve been having some issues since a fresh install. Getting error repeated over and over,

socketNotificationReceived: “TRAIN_TABLE”:
Array(2)
MMM-nyc-transit.js:332 Uncaught TypeError: Cannot read property ‘fadeSpeed’ of undefined
at Class.socketNotificationReceived (:8080/modules/MMM-ny…-nyc-transit.js:332)
at module.js:24

[2021-10-04 20:13] Nneuland commented on #56
Has anyone found a solution to the header only issue?

[2021-10-04 20:42] Elaniobro commented on #56
@Nneuland what is your "header only issue"?

@danieldiazie were you able to verify issue persists on a RP3?

[2021-10-04 20:49] Elaniobro commented on #60
@Nneuland; will you please post your config for the module here please?

[2021-10-04 21:17] Nneuland commented on #56
HI!  I'm on RP4  only getting a header.

With this error repeating

socketNotificationReceived: “TRAIN_TABLE”:
Array(2)
MMM-nyc-transit.js:332 Uncaught TypeError: Cannot read property ‘fadeSpeed’ of undefined
at Class.socketNotificationReceived (:8080/modules/MMM-ny…-nyc-transit.js:332)
at module.js:245
at Socket. (socketclient.js:38)
at Socket…/node_modules/component-emitter/index.js.Emitter.emit

[2021-10-04 21:20] Nneuland commented on #56
Here is my config for nyc-transit
Have I missed something?

{
		    module: 'MMM-nyc-transit',
		    position: "top_bar",
		    header: "Next Train",
		    config: {
		      apiKey: 'TZcqk7Hd9z4Z35KnPXYnZ2iZWD9kO2XO91LbumiG',
		      displayType: 'list',
		      mtaType: 'train',
		      stations: [
			{
			  stationId: 629,
			  walkingTime: 3,
			  dir: {
			      upTown: true,
			      downTown

[2021-10-04 21:20] Nneuland commented on #56
Here is my config for mmm-nyc-transit

{
		    module: 'MMM-nyc-transit',
		    position: "top_bar",
		    header: "Next Train",
		    config: {
		      apiKey: 'xxxxxxxxxxx',
		      displayType: 'list',
		      mtaType: 'train',
		      stations: [
			{
			  stationId: 629,
			  walkingTime: 3,
			  dir: {
			      upTown: true,
			      downTown: true,
			  }
			},
			{
			  stationId: 177,

[2021-10-04 21:22] Nneuland commented on #60
I've posted this twice now..  I'm sorry

{
		    module: 'MMM-nyc-transit',
		    position: "top_bar",
		    header: "Next Train",
		    config: {
		      apiKey: 'xxxxxxxxxxx',
		      displayType: 'list',
		      mtaType: 'train',
		      stations: [
			{
			  stationId: 629,
			  walkingTime: 3,
			  dir: {
			      upTown: true,
			      downTown: true,
			  }
			},
			{
			  stationId: 177,

[2021-10-05 13:11] Elaniobro commented on #60
@Nneuland, thank you. I see you were tacking on to a issue #56, is your issue the same as the one posted in there?

[2021-10-05 14:53] Nneuland commented on #60
@Elaniobro, thanks for looking into this.  Issue #56 had similar characteristics, (only header showing) but I believe the root cause was different.  I was unable to determine the solution to issue #56.

I'm very new to this but started a new issue because the underlying cause appeared to be different.

Looking forward to heading from you and thanks again

Nick

[2021-10-06 13:17] Nneuland commented on #60
Hi Elan

I forgot to tell you I am running Magicmirror version 2.17.1

[2021-10-20 14:45] Elaniobro commented on #60
@Nneuland thanks for the update. I do not have a pi4, so I can't debug against it.

[2021-11-18 02:34] jackngai commented on #60
I'm getting the exact same issue. Also on pi4. Will do some digging.

[2021-11-18 02:48] Nneuland commented on #60
That would be amazing. I do not have know how to navigate. Would love to
hear what you find.

On Wed, Nov 17, 2021 at 9:35 PM Jack Ngai ***@***.***> wrote:

[2021-11-18 03:14] jackngai commented on #60
Ok. I got it to work, but it's more of a hack at this point.

In line 332 of MMM-nyc-transit.js is where we reference "fadeSpeed", my search on that found it is a common property in many modules, like compliments.js (https://auth0.com/blog/dads-in-a-meeting-creating-a-smart-mirror/). Since it is not specified in this module, I tried adding it to the config file but it didn't work. So for now, I ju

[2021-11-18 03:26] jackngai commented on #60
It's actually just a typo. Changing "self" to "this" in line 332 fixed the issue. Created a MR.

[2021-11-20 15:17] Nneuland commented on #60
Oh wow!!!! Thank you so much!!!!

On Wed, Nov 17, 2021 at 10:27 PM Jack Ngai ***@***.***> wrote:

[2021-11-24 16:05] joolean opened #63 "[🐛 BUG] - upTown and downTown configuration values reversed"
**Describe the bug**
The `upTown` and `downTown` settings seem to have the inverse effect when applied separately. That is, setting `upTown` to `true` and `downTown` to `false` leads to only "downtown" or outbound trains being displayed, and vice versa.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `upTown` to `true` and `downTown` to `false` in the module configuration
2. Start MagicM

[2021-11-24 16:16] Elaniobro commented on #63
@joolean; that's not good, did you want to submit another PR?

[2021-11-24 16:17] Elaniobro commented on #60
@jackngai, @Nneuland, did the latest release resolve your issue(s)?

[2021-11-24 16:17] joolean commented on #63
Yes! I was planning to.

[2021-11-24 16:24] jackngai commented on #60
Yup. Confirmed.

On Wed, Nov 24, 2021 at 11:17 AM Elan Trybuch ***@***.***>
wrote:

--
Jack C. Ngai
www.jackngai.com

[2021-11-24 16:52] Nneuland commented on #60
Yes!  Thank you so much!

On Wed, Nov 24, 2021 at 11:17 AM Elan Trybuch ***@***.***>
wrote:

[2021-11-25 01:10] Elaniobro commented on #60
#61 fixed

[2021-11-25 01:10] #60 closed

[2021-12-13 21:06] James-Quigley commented on #56
Raspberry Pi 3B here. Same error with
[code]

[2021-12-13 21:44] James-Quigley commented on #56
I tracked down the error further. It appears to be in a downstream dependency that parses the MTA feed message using protobuf. Specifically this line: https://github.com/ericandrewlewis/mta-realtime-subway-departures/blob/c7dd12a4ed9381ddfb1fbdecdbf9b5bb4dec448e/index.js#L32

[2021-12-16 14:37] #63 closed

[2021-12-16 14:40] Elaniobro commented on #56
@James-Quigley do you have to to put in a fix on the repo?

[2021-12-19 23:29] Freakston opened #66 "[Security] Workflow lint.yml is using vulnerable action actions/checkout"
The workflow lint.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-26 19:56] Elaniobro commented on #56
@James-Quigley @george-dilthey @Nneuland @danieldiazie @stern1978; https://github.com/ericandrewlewis/mta-realtime-subway-departures/issues/15 fix _should_ resolve this issue. Will you all please re-install the module so that it picks up the v1.2.1 patch fix of the  https://github.com/ericandrewlewis/mta-realtime-subway-departures dependency?

[2021-12-30 03:30] Elaniobro commented on #66
@Freakston; thank you for the report. I will look into this. Its a low priority and I believe disabled for now.

[2021-12-30 03:58] #66 closed

[2021-12-30 04:00] Elaniobro opened #68 "[👚 Linting] - Add new linters"
### Description: ✍️

- [x] Add commitizen linter
- [x] Add prettier
- [x] Add stylelinter

### Rules: 👮‍♂️

- [ ]

[2021-12-30 05:03] Elaniobro opened #70 "[📦 - PKG] Add scope and publish"
Add scope to module name

[2021-12-30 05:39] #70 closed

[2022-02-10 23:05] frankrende opened #72 "[🐛 BUG] - Lines showing as 5X and 6X don't have formatting/color"
**Describe the bug**
5X and 6X lines are displaying without any green background coloring

**To Reproduce**
Run the module for **station ID 397** (uptown and downtown) and it should appear

**Expected behavior**
5X and 6X lines should have the green color/format behind them. Ideally these would just say 5 or 6 and have a green square background to indicate express lines

** Actual behavior**
5X an

[2022-02-11 17:40] #56 closed

[2022-02-11 17:42] Elaniobro commented on #72
@frankrende; thank you for submitting this issue. I am unfamiliar with 5x & 6x lines... are these just Green line but express?

What is the expectation here. Can you link me to what the actual logo should look like? Thanks!

[2022-02-11 20:12] frankrende commented on #72
Hi @Elaniobro -

That's correct, they're express trains for the 5 and 6 lines. If you look at the [MTA Subway map](https://new.mta.info/map/5256), you can see some 5/6 trains are green-squares instead of green-circles. This indicates that they're express stops.

4 also has an express line, but I failed to mention it in my OP since it wasn't appearing at the time.

The trains themselves and most ot

[2022-02-11 21:41] Elaniobro commented on #72
@frankrende; thanks for the screenshot. I am unable to pull up an express train. Is there a specific time of day they run? I'll debug then.

[2022-02-11 22:33] frankrende commented on #72
Hey @Elaniobro -

I'm still seeing some uptown 5x and 6x trains from station 397 as of right now.

From a quick google search, there's a lot of conflicting information relating to these lines. Some indicate that it's "rush hour" service and is only available at certain times (see [here](http://web.mta.info/nyct/service/fivedlin.htm)). I also found some MTA maps that show the same "diamond" logo fo

[2022-02-11 22:58] frankrende commented on #72
Can you try the uptown direction? That’s where I’m seeing them

On Fri, Feb 11, 2022 at 5:47 PM Elan Trybuch ***@***.***>
wrote:

--
Sent from my iPhone

[2022-02-12 02:15] Elaniobro commented on #72
@frankrende would you mind verifying the fix on the GIT-72-express-trains branch? I think I got it, but need additional QA support.

[2022-02-12 04:51] frankrende commented on #72
Sure, I can check it out tomorrow morning. Thanks for the quick response!

On Fri, Feb 11, 2022 at 9:15 PM Elan Trybuch ***@***.***>
wrote:

--
Sent from my iPhone

[2022-02-12 16:02] frankrende commented on #72
Hey @Elaniobro -

I just loaded your branch, but unfortunately I can't find any express trains at the moment. I'll check again later today.

But overall everything else is still working as expected! One thing I noticed from your screenshot is the diamond seems to be off-center compared to the circle logos above it (and the "6" inside the diamond doesn't seem to be centered). Is that something that

[2022-02-14 17:38] dustbits opened #78 "Station ID 611 (Times sq) does not display"
Hello!

I am having an issue with station ID 671, it does not display regardless of the values I set in the config. My current entry for is looks like this :

          stationId: 671,
          walkingTime: 10,
          dir: {
              upTown: true,
              downTown: false

I changed the stationID value to that of other stations and they display without a hitch. I also stationID 471 i

[2022-02-15 18:10] frankrende commented on #72
Hi @Elaniobro  - I just tested and can see the new icon for the express 6 train. The only feedback I have is what I expressed in my previous comment:

- [ ] The line number doesn't appear to be centered inside the logo
- [ ] The logo itself seems off-centered compared to the other logos. It's also a bit smaller maybe?

-Frank

[2022-02-15 18:14] Elaniobro commented on #72
@frankrende  would you mind sharing a screenshot? Thanks

[2022-02-15 18:36] Elaniobro commented on #78
@dustbits `671` does not appear to be a station ID in the [Station List](https://github.com/Elaniobro/MMM-nyc-transit/blob/master/STATION_LIST.md)

did you mean `611` for:

[code]

[2022-02-15 19:35] frankrende commented on #72
Hey @Elaniobro

Thanks for the update! The "6" now appears centered within the green diamond. However it still appears to be smaller than the regular lines (both in font size and diamond size). It's not a big deal though, so I'm find with this change if it's too complicated to adjust!

[2022-02-15 19:48] dustbits commented on #78
Sorry that was my mistake, I changed it to 611 however and still having the same problem

[2022-02-15 21:05] Elaniobro commented on #72
@frankrende  glad to see its working. Yes, that is by design. Any bigger and the spacing becomes problematic between the lines.

[2022-02-19 18:23] george-dilthey commented on #25
@Elaniobro Not sure if I should open up another bug here, but I'm getting errors with station ID 461. Spot checking other IDs seem to be fine, but 461 in my config file outputs the below when I start Magic Mirror. If I have 2 stations and one of them is 461, neither shows up. I just get the "Next Train" header. LMK if I can help debug at all.

`[19.02.2022 13:19.17.799] [ERROR] (node:11075) Unhand

[2022-02-20 23:51] dustbits commented on #78
Any chance you are able to test 611 in your build?

[2022-02-25 15:51] #72 closed

[2022-02-25 15:52] Elaniobro commented on #68
Fixed in #79

[2022-02-25 15:52] #68 closed

[2022-03-04 15:52] James-Quigley commented on #56
I've updated to 1.2.1 of mta-realtime-subway-departures, but I'm still experiencing the same error

[2022-03-04 21:29] James-Quigley commented on #56
Nvm ignore me. My API key wasn't valid. To anybody else experiencing the same thing, double check your API key

[2022-03-07 17:59] george-dilthey opened #81 "Multiple stations with same ID"
@Elaniobro Not sure if I should open up another bug here, but I'm getting errors with station ID 461. Spot checking other IDs seem to be fine, but 461 in my config file outputs the below when I start Magic Mirror. If I have 2 stations and one of them is 461, neither shows up. I just get the "Next Train" header. LMK if I can help debug at all.

`[19.02.2022 13:19.17.799] [ERROR] (node:11075) Unhand

[2022-03-09 16:31] Nneuland commented on #56
Just checking in.  Is there an MTA -BUS schedule feature available with
this module yet?

Thanks

Nick

On Fri, Mar 4, 2022 at 4:29 PM James Quigley ***@***.***>
wrote:

[2022-03-09 21:21] dustbits commented on #81
I am having the same issue with station ID 611 and all I get is the Next Train header.

[09.03.2022 16:17.03.133] [ERROR] (node:17884) UnhandledPromiseRejectionWarning: Error: Error: invalid wire type 4 at offset 1
    at /home/pi/MagicMirror/modules/MMM-nyc-transit/node_helper.js:187:15
    at processTicksAndRejections (node:internal/process/task_queues:96:5)

[09.03.2022 16:17.03.134] [ERROR] (n

[2022-03-18 22:24] wezmininger opened #82 "[🐛 BUG] - UnhandledPromiseRejectionWarning: Error: RangeError: index out of range: 3 + 109 > 23 (RESOLVED - API KEY WAS EXPIRED)"
(RESOLVED - MTA API KEY HAD EXPIRED! CHECK YOUR KEY!)

**Describe the bug**
NYC transit module keeps showing this error and never works, when quitting MM, the errors at the bottom appear

I see this bug was open in the past and closed but there doesnt appear to be an actual fix yet

**To Reproduce**
add MMM-nyc-transit module to the Magic mirror modules folder and install with npm install
made sur

[2022-03-27 18:11] Elaniobro commented on #82
Is your  error  for all  station ID's?  Can you  try  one  at a time,  in  one direction  and see if that works?

[2022-03-27 18:15] Elaniobro commented on #56
@Nneuland,  negative. It is something  I wanted to explore but do not  have  the bandwidth at the moment. Open to PR's 😉

[2022-03-31 00:53] #78 closed, assigned to nobody

[2022-04-01 14:21] Elaniobro commented on #78
@dustbits; I saw you closed this issue. All good?

[2022-04-01 15:38] dustbits commented on #78
Hey,

Thanks for following up, actually I closed it because the other two issues open are the same as mine and I'm following those threads. Only my stations (Times square & hudson yards) are having these issues unfortunately, the other ones I tested work fine. I'll follow up closely cause I just built my mirror last month and this is definitely a module I'd love to have.

Thanks for building this!

[2022-04-05 20:20] wezmininger commented on #82
My MTA API Key had expired without my knowing, so when I pasted it in, never worked. After renewing/creating another it works now

[2022-05-31 19:36] #82 closed

[2022-06-21 13:14] Nneuland opened #85 "Slowing the entire Mirror down"
After going through all of the possibilities to what was slowing my mirror.  Turns out it was this module.
I had to disable the module in the config file to fix.

Essentially, upon restarting of the mirror with this module active, the mirror's refresh rate would be fine, but slower and slower over time.  This was most evident with the clock module (seconds refreshing after 2 seconds, then 5, 10, e

[2022-08-14 19:46] thomasgravina opened #86 "Cannot find module whatwg-url"
Error message while launching MagicMirror:

```[14.08.2022 15:44.24.717] [ERROR] WARNING! Could not load config file. Starting with default configuration. Error found: Error: Cannot find module '/home/pi/MagicMirror/modules/MMM-nyc-transit/node_modules/whatwg-url/lib/public-api.js'. Please verify that the package.json has a valid "main" entry```

[2022-09-07 01:17] dandalgatov opened #87 "[💡 FEATURE REQUEST]"
Hello, I wanted to make something similar to your app but now that I have discovered it I might just end up using this instead. Great job by the way. My suggestion is to restructure UI a little bit. The current UI is not clear at a glance. Here is a mock-up of how I envisioned it, and feel free to use it if you decide to revisit it in the future.
<img width="357" alt="Screen Shot 2022-09-06 at 8 5

[2022-10-01 03:21] ParkMyCar opened #88 "[🐛 BUG] - If you don't specify a `walkingTime` parsing response fails"
**Describe the bug**
If you don't specify a `walkingTime` with each station, then you don't get back any train times, specifically the `upTown` and `downTown` lists are empty, because the `time` field for each trip is `NaN`

**To Reproduce**
Steps to reproduce the behavior:
1. In your config don't set a `walkingTime`
2. Run MagicMirror, no trains show up

**Expected behavior**
Expect train times t

[2022-10-01 03:22] ParkMyCar commented on #88
I think the fix is to update [this line](https://github.com/Elaniobro/MMM-nyc-transit/blob/master/node_helper.js#L202) to something like:
[code]
Although I haven't tested it

[2022-10-22 18:02] Elaniobro commented on #88
@ParkMyCar care to submit a PR?

[2022-10-22 18:07] Elaniobro commented on #87
@dandalgatov re train direction. This info is pulled directly from the API. I will not be coding in logic to determine which borough its headed towards.

In your usecase:

The A Train originating in QN is headed downtown into BK. Even if I _were_ to code the logic, I would not program it to say A Train from QN -> MNHT.

I do like your new UI/Layout ideas. I have been incredibly busy an unable to g

[2022-10-22 18:09] Elaniobro commented on #86
@thomasgravina is this a :bug:? If so, please re-visit the issue template and provide the requested info. Thanks

[2022-10-22 18:10] Elaniobro commented on #85
Probably the walking time countdown.  I added it in, with haste. I probably need to do garbage collection and remove the timer from memory.

[2022-11-23 15:09] georgyo opened #92 "[🐛 BUG] - Uptown/Downtown filters do not work if multiple modules sections are defined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Define two separate module blocks in your config.js
[code]

**Expected behavior**
The bottom left of the screen will only show upTown trains, and the bottom right will only show downTown trains.

** Actual behavior**
Last module defined wins, showing only downtown trains.

[2022-11-26 13:09] eqpaisley commented on #92
I've also been struggling with a VERSION of this problem.  I cannot ever get uptown trains to display first. If I display ONLY uptown trains, that works. But if I display both uptown and downtown, downtown are always first irrespective of what order I list them in my config.js.

I suspect this is somehow related to this bug ?